<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
  <style type="text/css">
    #outlook a{padding:0;} /* Force Outlook to provide a "view in browser" message */
    .ReadMsgBody{width:100%;} .ExternalClass{width:100%;} /* Force Hotmail to display emails at full width */
    .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;} /* Force Hotmail to display normal line spacing */
    body, table, td, p, a, li, blockquote{-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;} /* Prevent WebKit and Windows mobile changing default text sizes */
    table, td{mso-table-lspace:0pt; mso-table-rspace:0pt;} /* Remove spacing between tables in Outlook 2007 and up */
    img{-ms-interpolation-mode:bicubic;} /* Allow smoother rendering of resized image in Internet Explorer */
    /* /\/\/\/\/\/\/\/\/ RESET STYLES /\/\/\/\/\/\/\/\/ */
    body{margin:0; padding:0;}
    img{border:0; height:auto; line-height:100%; outline:none; text-decoration:none;}
    table{border-collapse:collapse !important; border-spacing: 0;}
    body, #bodyTable, #bodyCell{margin:0; padding:0;}

    tr, th, td {
      margin: 0;
      padding: 0;
      border: 0;
      vertical-align: top;
    }

    body {
      background: #FFFFFF;
    }

    #bodyTable {
      width: 720px !important;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      padding-left: 80px;
      padding-right: 80px;
      background-repeat: no-repeat;
    }

    #bodyCell {
      width: 720px;
      padding-top: 75px;
      height: auto;
    }

    #templateContainer {
      width: 720px;
      background-repeat: repeat-x;
      background-position: 0 0;
      background-color: #FFFFFF;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }

    .header {
      width: 100%;
      height: 200px;
      text-align: center;
    }

    #headerImage {
      width: 200px;
      height: 200px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    #templateContent {
      padding-top: 10px;
    }

    #contentFooter {
      height: 27px;
      background: #231F20;
      width: 100%;
    }

    .descriptionText {
      padding-top: 10px;
      color: #000000;
      font-size: 12px;
      font-family: Arial, sans-serif;
      padding-left: 15px;
      padding-right: 10px;
      font-weight: 600;
      text-align: center;
    }


  </style>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;margin: 0;padding: 0;background: #FFFFFF;">
  <table align="center" border="0" cellpadding="0" cellspacing="0" width="720" id="bodyTable" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-spacing: 0;margin: 0;padding: 0;height: auto;margin-left: auto;margin-right: auto;padding-left: 80px;padding-right: 80px;background-repeat: no-repeat;border-collapse: collapse !important;width: 720px !important;">
    <tr style="margin: 0;padding: 0;border: 0;vertical-align: top;">
      <td valign="top" id="bodyCell" width="720" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;margin: 0;padding: 0;border: 0;vertical-align: top;width: 720px;padding-top: 75px;height: auto;">
        <!-- BEGIN CONTENT CONTAINER -->
        <table border="0" cellpadding="0" cellspacing="0" id="templateContainer" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-spacing: 0;width: 720px;background-repeat: repeat-x;background-position: 0 0;background-color: #FFFFFF;height: auto;margin-left: auto;margin-right: auto;border-collapse: collapse !important;">
          <tr style="margin: 0;padding: 0;border: 0;vertical-align: top;">
            <!-- BEGIN HEADER -->
            <td valign="top" class="header" width="100%" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;margin: 0;padding: 0;border: 0;vertical-align: top;width: 100%;height: 200px; text-align: center;">
              <img id="headerImage" src="https://s3.amazonaws.com/flik-production/assets/logo-color.jpg" style="-ms-interpolation-mode: bicubic;border: 0;height: 200px;line-height: 100%;outline: none;text-decoration: none;width: 200px;display: block;margin-left: auto;margin-right: auto;">
            </td>
            <!-- // END HEADER -->
          </tr>
          <tr style="margin: 0;padding: 0;border: 0;vertical-align: top;">
            <td valign="top" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;margin: 0;padding: 0;border: 0;vertical-align: top;">
              <!-- BEGIN TEMPLATE CONTENT -->
              <table border="0" cellspacing="0" cellpadding="0" width="100%" id="templateContent" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-spacing: 0;padding-top: 10px;border-collapse: collapse !important;">
                <tr style="margin: 0;padding: 0;border: 0;vertical-align: top;">
                  <td style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;margin: 0;padding: 0;border: 0;vertical-align: top;">
                    <p class="descriptionText" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;padding-top: 10px;color: #000000;font-size: 12px;font-family: Arial, sans-serif;padding-left: 15px;padding-right: 10px;font-weight: 600;text-align: center;">Hello <%= @resource.email %>!</p>

                    <p class="descriptionText" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;padding-top: 10px;color: #000000;font-size: 12px;font-family: Arial, sans-serif;padding-left: 15px;padding-right: 10px;font-weight: 600;text-align: center;">Someone has requested a link to change your password. You can do this through the link below.</p>

                    <p class="descriptionText" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;padding-top: 10px;color: #000000;font-size: 12px;font-family: Arial, sans-serif;padding-left: 15px;padding-right: 10px;font-weight: 600;text-align: center;"><%= link_to 'Change my password', "http://flik.events/password/new/#{@token}" %></p>

                    <p class="descriptionText" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;padding-top: 10px;color: #000000;font-size: 12px;font-family: Arial, sans-serif;padding-left: 15px;padding-right: 10px;font-weight: 600;text-align: center;">If you didn't request this, please ignore this email.</p>
                    <p class="descriptionText" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;padding-top: 10px;color: #000000;font-size: 12px;font-family: Arial, sans-serif;padding-left: 15px;padding-right: 10px;font-weight: 600;text-align: center;">Your password won't change until you access the link above and create a new one.</p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <!-- END CONTENT CONTAINER -->
      </td>
    </tr>
  </table>
</body>
</html>